#GalaxySimulatorReadme {
	position: absolute;
	top: 10px;
	left: 50%;
	border-style: solid;
	border-width: 3px;
	border-color: rgb(255, 255, 255);
	height: 11px;
	width: 11px;
	background-color: rgb(255, 0, 0);
	outline-style: solid;
	outline-width: 3px;
	outline-color: rgb(255, 0, 0);
}

#GalaxySimulatorMenu {
	position: absolute;
	top: 70px;
	left: 80px;
	border: 0;
	background-color: rgba(0, 0, 0, 0.3);
}

#GalaxySimulatorMainPool {
	position: absolute;
	top: 0px;
	left: 0px;
}

#GalaxySimulatorStartStopButton {
	position: absolute;
	top: 0;
	right: 0;
	color: rgb(250, 250, 250);
	background-color: rgba(0, 0, 0, 0.7);
	border-style: solid;
	border-width: 2px;
	border-color: rgba(250, 250, 250, 0.7);
	font-size: 18px;
	cursor: pointer;
}

